.socialday h4 {
    font:bold 123.1% arial;
    padding:5px;
    border:1px solid #ccc;
    text-align:center;
    color:#FFF;
    background-color: #8dc63f;
}
.socialday h5 {
    font:normal 77% arial;
    padding:5px;
    text-align:center;
    color:#666;
}
.socialday h5 a {
    color:#666;
    text-decoration:none;
}
.socialday h5 a:hover {
    text-decoration:underline;
}
.leaderboard_c_NOTUSED {
    position:relative;
    overflow-y:scroll;
    overflow-x:hidden;
}
table.leaderboard th {
    text-align:center;
}
table.leaderboard th, table.leaderboard td {
    padding:5px;
    
}
table.leaderboard td.shares {
    text-align:center;
    width:80px;
}
table.leaderboard td, table.leaderboard td a, table.leaderboard th {
    color:#666;
    text-decoration:none;
}
table.leaderboard td a:hover {
    text-decoration:underline;
}	